

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">

<h1 class="header">Like a forest</h1>

<h2 class="bluehand">listen to chilledcow</h2>

<div class="content">
<iframe autoplay height="200px" width="100%" src="https://www.youtube.com/embed/DWcJFNfaw9c?autoplay=1"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"> </iframe>
</div>

<table class="content">

      <p class="greyhand">YOUTUBE LIKE A FOREST</p>

      <th colspan="3"></th>

  <form class="h2">
    <% @notes.each do |note| %>

        <!--<td><%= note.name %></td> -->
        <tr class="nav nav-tabs">
      <td><iframe  height="" width="" src="<%= note.enbedable_url %>" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"> </iframe>

      <td class="nav-item">
      <a class="nav-link" href="#"><%= link_to 'Show', note %></a>
       </td>
      <td class="nav-item">
      <a class="nav-link" href="#"><%= link_to 'Edit', edit_note_path(note) %></a>
       </td>
      <td class="nav-item">
      <a class="nav-link" href="#"><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></a>
       </td>
       </tr>
    <% end %>

  </form>
</table>

<div class="h2">
  <%= link_to 'Add your youtube URL to the list here', new_note_path %>

    <p>Copyright 42069 all rights reserved </p>

  </div>
