<<<<<<< HEAD


  <style>
  grey {
  background-color: grey;margin: 20px; text-align: center;
  font-size: 100%;
  color: black;
}
  </style>
  <grey>

=======
<body class="body">
<div class="h1">
>>>>>>> b194927978cc49aeffa30fb33bd2411d58a50b26
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @note.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @note.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @note.user_id %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
<<<<<<< HEAD
</grey>
=======
</div>
</body>
>>>>>>> b194927978cc49aeffa30fb33bd2411d58a50b26
