<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Status:</b>
  <%= @task.status %>
</p>

<p>
  <b>Notes:</b>
  <%= @task.notes %>
</p>


<%= link_to 'Edit', edit_notes_task_path(@task.notes, @task) %> |
<%= link_to 'Back', notes_tasks_path(@task.notes) %>
