<!DOCTYPE html>
<html>
  <title>like a forest</title>
   <div class="farleft"> <%= button_to "logout", destroy_user_session_path, method: :delete  %> </div>

      <nav style="form-inline" class="header">Like a forest
         </nav>

  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


  </head>

  <%= stylesheet_link_tag 'application', turbo_links_reload: true %>
  <%= javascript_pack_tag 'application', turbo_links_reload: true %>

   <body class="background">

   <% if notice.present? %>
   <p id="notice"><%= notice %></p>
   <% end %>

   <div class="">

   <%= yield %>

   </div>

  </body>
<!--<footer class="h1"><%= button_to "logout", destroy_user_session_path, method: :delete  %></footer>-->
</html>
